
.jumbotron-fluid {
  background-image: url("img/hero.jpg");
  background-size: cover;
  height: 370px;
  border-radius: 0rem;
  width: 100%

}


#place_an_order_button_cover{
 background-color: #ff4081;
 border: none;

}

#titles {
font-size: 35px;
 color: #ff4081;
}

p {
  font-size: 18px;
}

#navbar, #bottom_row{

  background-color: #196cd1;

}

a {
  color: white;

}

h4 {
  font-size: 35px;
}

#footer_links{
  color: white;
}

#footer{
  font-size: 13px;
  background-color: #1e4496;
  text-align: left;
  color: #a0a7bc;

 }
 .button {
   color: #ff4081;
   background-color: white;
   text-decoration: none;

 }

 #nav {

    background-color: #196cd1;
}

#brand {
  font-size: 1.25rem;
}
.btn{
  background-color: #ff4081;
}
.btn:hover {
  background-color: #ff4081;
}
